@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root{
  --primary-color: #f36c3b;
  --secondary-color: #384053;
  --text-color: #384053;
  --background-color: #f5f5f5;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}